appdirs==1.4.4
attrs==20.3.0
backcall==0.2.0
biopython==1.77
certifi==2020.12.5
cffi==1.14.5
decorator==5.0.7
distlib==0.3.1
filelock==3.0.12
flake8==3.9.0
importlib-metadata==3.10.0
iniconfig==1.1.1
lineedit==0.1.6
mccabe==0.6.1
mock==4.0.2
more-itertools==8.7.0
numexpr==2.7.3
numpy>=1.19
packaging==20.9
pandas>=1.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pip==21.0.1
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
rchitect==0.3.30
rpy2==3.4.2
scipy>=1.5
six==1.15.0
tables==3.6.1
toml==0.10.2
tornado==6.1
tox==3.23.1
tox-conda==0.8.0
traitlets==5.0.5
tzlocal==2.1
virtualenv==20.4.6
wcwidth==0.2.5
wheel==0.36.2
zipp==3.4.1
